body { 
font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: rgb(25, 0, 49);
}

.botao {
display:flex; 
align-items: center;
margin-top: 20px;
position:absolute;
left:50%;
top:50%;
transform : translate(-50%,-50%);
}

#contador {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

